<html>
    <!-- this page is the gallery to display images uploaded by the logged in user, display gallery of images and delete button on each image-->
<head></head>
<body>
    <div>
        <h4>Search: 
            <form action="{%url 'gallery' %}" method="POST">
                {% csrf_token %}
                <input type='text' id = 'search_query' name = 'search_query'>
                <input type="submit" value="Search">
            </form>
        </h4>
    </div>
    <div>
    {% if gallery_images %}
        {% for image in gallery_images %}
            <img src="{{ image.upload_Image.url }}" style="max-height: 280px;" id="gallery-img">
            <!--{{image.id}}-->
            <form action="{%url 'delete_image' %}" method="POST">
                {% csrf_token %}
                <input type='hidden' id = 'image_id' name = 'image_id' value = {{image.id}}>
                <input type="submit" value="Delete">
            </form>
        {% endfor %}
        {% else %}
        <h4> No images found!</h4>
    {% endif %}
    
    </div>
</body>
</html>