<html>
    <!-- this page is the signup page for new users, display signup form-->
    <head>
        <title> Signup </title>
    </head>
    <body>
        <div>
            <h1> SIGNUP FORM HERE </h1>
            <h2>Sign up</h2>
            <form method="post">
              {% csrf_token %}
              <p> Username:{{ form.username }}</p>
              <p> Email:{{ form.email }}</p>
              <p> Password:{{ form.password1 }}</p>
              <p> Confirm Password:{{ form.password2 }}</p>
              <button type="submit">Sign Up</button>
            </form>
        </div>
    </body>
</html>