{% extends "base.html" %}
{% block title %}Tasks Page{% endblock title %}
{% block content %}
<html>
    <body>
        <h3>Tasks Page</h3></br><hr>
        {% if block_new_task %}<!-- If a task is still outstanding, disable the form, dont allow new task to be added-->
        <h4>Create a new picture task!</h4></br>
        Set a learning goal to guide your child's journey!</br>
        Allow them to seek out items matching your goal and learn about them</br>
        Write the word that best describes the item e.g. 'apple'
            <form method="post">
            {% csrf_token %}
            Take a picture of a(n): {{form.task_keyword}}</br>
                <button class="btn btn-dark btn-lg"
                        type="submit" >Create Task
                </button>
            </form>
        <hr>
        {% endif %}
        <h3>Current Task</h3></br>
        {% if tasks %}<!-- Display the current(latest) task-->
        <ol>
            {% if current_task.task_complete %}
            {% else %}
            <li>
                Task: Take a picture of a(n) {{current_task.task_keyword}}</br>
            </li>
            <form action="{%url 'delete_task' %}" method="POST">
                {% csrf_token %}
                <input type='hidden' id='task_id' name='task_id' value={{current_task.id}}>
                <button class="btn btn-danger btn-sm" type="submit" value="Delete" id="delete_task">Delete Task</button>
            </form>
            {% endif %}
        {% endif %}
        </ol>
        <hr>
        <h3>Completed Tasks</h3></br>
        {% if tasks %}<!-- Display all tasks (past and current)-->
        <ol>
            {% for task in tasks %}
                {% if task.task_complete %}
                <li>
                    Task: Take a picture of a(n) {{task.task_keyword}}</br>
                </li>
                {% endif %}
            {% endfor %}
        </ol>
        {% endif %}
    </body>
</html>
{% endblock content %}