<html>
    <!-- this page is the image upload function for users, display button(upload)
    this page will include display_image to display back the uploaded image to the user-->
    <head>
        <meta charset="UTF-8">
        <title>Upload_image</title>
    </head>
    <body>
        <form method = "post" enctype="multipart/form-data">
            <!-- crsf token used for security features for form data-->
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Upload</button>
        </form>
    </body>

    </html>